<h3 class="title"><%= intro.name %></h3>

<div class="container">
  <%= l(:text_modal_do_not_show_again) %>
</div>

<p class="buttons">
  <%= form_for :do_not_show_again, url: introductions_do_not_show_again_introduction_url(intro), method: :post, :remote => true do |f| %>
    <%= f.submit l(:button_confirm_do_not_show_intro) %>
    <%= submit_tag l(:button_show_intro_next_time), :name => nil, :onclick => "closeModal('#{intro.url.include?('.*') ? "" : intro.url.tr('^', '')}');", :type => 'button' %>
  <% end %>
</p>

<script type="'text/javascript">

  function closeModal(url) {
    if (url == ""){
       hideModal();
    }else{
       window.location.href = url + '?no_intro=true';
    }
  };

</script>
