<% html_title(l(:label_introductions)) %>

<div class="contextual">
  <%= link_to(l(:label_new_introduction),
              {:controller => 'introductions', :action => 'new'},
              :class => 'icon icon-add') %>
</div>

<h2><%=h "#{l(:label_introductions)}" %></h2>

<% if @notice -%>
  <div class="flash notice"><%= @notice -%></div>
<% end -%>

<% if @introductions.empty? %>
  <div class="template_box">
    <%= l(:no_introductions) %>
  </div>
<% else %>

  <div class="template_box">

    <table class="list introductions">
      <thead>
      <tr>
        <th><%= '#' %></th>
        <th><%= l(:field_name) %></th>
        <th><%= l(:url) %></th>
        <th><%= l(:start_date) %></th>
        <th><%= l(:stop_date) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @introductions.each do |introduction| %>
        <tr class="<%= cycle("odd", "even") %> introduction">
          <td style="text-align: center;width: 10px;"><%= link_to introduction.id, edit_introduction_path(introduction) %></td>
          <td><%= link_to introduction.name, edit_introduction_path(introduction) %></td>
          <td><%= link_to introduction.url, link_to_intro_test(introduction), target: "_blank" %></td>
          <td><%= introduction.start_at %></td>
          <td><%= introduction.stop_at %></td>
          <td class="buttons">
              <%= link_to l(:button_start), link_to_intro_test(introduction), target: "_blank", :class => 'icon icon-test' %>
              <%= link_to l(:button_edit), edit_introduction_path(id: introduction.id), :class => 'icon icon-edit' %>
              <%= delete_link introduction_path(introduction) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>

<ul>
  <% if !@intros_users.empty? %>
    <h3 style="margin-top: 40px;">Dernières vues</h3>
    <% @intros_users.each do |intro_user| %>
      <li>
        <%= "#{intro_user.user.name} -> ##{intro_user.id} #{intro_user.introduction.name} (#{intro_user.last_view.to_s(:short)})" %>
        <%= form_for :show_again, url: introductions_show_again_introduction_url(intro_user.introduction), method: :post do |f| %>
          <%= hidden_field_tag :user_id, intro_user.user.id %>
          <%= f.submit "Réactiver", class: 'introjs-button introjs-replay introjs-quit' %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>