<script type="text/javascript">
  $(function() {

    <% if params[:no_intro] != 'true' %>

      var intro_id = 0;
      var next_url = "";
      var next_step_id = 0;
      var selectors = [];
      var nbIntros = 0;

      <% if params[:intro_id] %>
        <% @intros = [Introduction.find(params[:intro_id])] %>
      <% else %>
        <% @intros = Introduction.active.not_disabled_by_user(User.current) %>
      <% end %>

      <% @intros.each do |intro| %>

        <% lastView = IntroductionsUser.find_by_introduction_id_and_user_id(intro.id, User.current.id) %>

        <% if ((User.current.pref[:no_introductions] == nil || User.current.pref[:no_introductions] == "0") && (lastView == nil || lastView.blocked == false && lastView.last_view < Time.now - 1.day) && (intro.url.blank? || request.fullpath =~ Regexp.new("#{intro.url}"))) || (params[:multipage] && params[:intro_step]) %>

          nbIntros++;

          <% previous_step = nil
             params[:multipage] && params[:intro_step] ? started = false : started = true
          %>

          <% intro.introduction_steps.each do |step| %>

            <% started = true if params[:intro_step] == step.id.to_param %>

            <% if started %>

              <% if step.url && !step.url.blank? && previous_step && step.url != previous_step.url %>
                intro_id = <%= intro.id %>;
                next_url = "<%= step.url %>";
                next_step_id = <%= step.id %>;
                <% break %>
              <% else %>
                <% if step == intro.introduction_steps.last # add links to the last step
                    step.text << "
                      <div>
                        <div class='closebutton_container'>
                            #{ link_to((image_tag('video-control-replay.png', :plugin => 'redmine_introductions') + l('replay')), '#', :onclick=> "#{params[:first_url] ? "location.href=\'#{params[:first_url]}\';" : 'location.reload();'}", class: 'introjs-button introjs-replay') if intro.introduction_steps.size>1}

                            #{ form_for :update_last_view_date, url: introduction_update_last_view_date_path(intro), method: :post, :remote => true do |f|
                                 f.submit l("quit"), class: 'introjs-button introjs-quit'
                               end }
                        </div>
                        <div class='skipbutton_container'>
                            #{ form_for :do_not_show_again, url: introduction_do_not_show_again_path(intro), method: :post, :remote => true do |f|
                                 f.submit l(:button_confirm_do_not_show_intro), class: 'introjs-skipbutton alwaysSkip'
                               end }
                        </div>
                      </div>"
                    @lastPage = true
                  end %>
                setIntroParams("<%= escape_javascript(raw step.selector) %>", "<%= escape_javascript(raw step.text) %>", "<%= escape_javascript(raw step.position) %>", "<%= escape_javascript(raw step.step) %>");
                selectors.push("<%= escape_javascript(raw step.selector) %>");
              <% end %>
              <% previous_step = step %>
            <% end %>
          <% end %>
          /*
          $(document).ready(function(){
            $('#ajax-modal').html('<%= escape_javascript(render 'introductions/modal_do_not_show_again', :intro => intro) %>');
          });
          */
        <% end %>
      <% end %>

      if (nbIntros>0){
        <% locales = { "nextPage"=>l('nextPage'),
                       "quit"=>l('quit'),
                       "prevLabel"=>l('prevLabel'),
                       "nextLabel"=>l('nextLabel')
                     }
           customParams = { "lastPage"=> @lastPage||false}
         %>
        window.I18n = <%= locales.to_json.html_safe %>
        window.customParams = <%= customParams.to_json.html_safe %>
        startIntroductions('<%=escape_javascript(request.fullpath)%>', intro_id, next_url, next_step_id, selectors);
      }

    <% end %>

  });
</script>
